#boton{
	padding:0;
}

#boton li{
	display:inline;
}

#boton li a{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 20px;
	text-decoration:underline;
	float:none;
	padding:18px;
	backgroup-color:#0000;
	color:#F4BA28;
}

#boton li a:hover{
	backgroup-color:#86d7;
	margin-top: -2;
	padding-bottom: 12px;
}